.wrapper{
    max-width:  1140px;
    margin: 0 auto;
}

#form-cteate-task{
    width: 30px;
    border: 1px solid rgb(51, 4, 83);
    border-radius: 10px;
    padding: 15px;

}

.container{
    margin-top: 50px;
    background-color: aliceblue;
    border:  1px solid darkblue;
    border-radius: 10px;
    padding: 15px;
}

.task{
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.importent span::after{
    content: "!";
    color: brown;
    margin-left: 10px;
    font-weight: bold;
}